nav.upper_header_menu
		li
			a(href='About.html', target='_blank') About
		li
			a(href='Sale.html', target='_blank') Sale
		li
			a(href='Credit.html', target='_blank') Credit
		li
			a(href='Help.html', target='_blank') Help
		li
			a(href='Contact.html', target='_blank') Contact
	.login
		a(href='#') Log in
	.my_shop
		a(href='My_shop.html', target='_blank') My shop
	