doctype html
html(lang = 'en')
head
    include jade/head.jade
body
.wrapper
    include jade/header.jade
    include jade/section_left.jade
    include jade/section_right.jade
    include jade/foot.jade
