doctype html
	html(lang = 'en')
head
	meta(charset="utf-8")
	link(href="../assets/css/style.css")
body
    include source/jade/header.jade
    include source/jade/section_left.jade
    include source/jade/section_right.jade
    include source/jade/foot.jade
