meta (charset="utf-8" http-equiv = 'content-type' content = "text/hmml")
meta (name = 'description' content = "slkfjlskdj")
meta (name = "keywords", content="shop")
meta (name = 'author', content = 'natam')
title MyShop - main
link(href="../assets/css/style.css")
